.wrapper {
  /*background-color: #e9e9e9;*/
  background-color: #006847;
  padding: 10px;
  text-align: left;
}

.listGroup {
  overflow-y: auto;
  height: 300px;
  background-color: white;
  margin-bottom: 20px;
}

.listItem {
  border-radius: 0;
  overflow-wrap: anywhere;
}
